<div class="container">
<% if @posts.any? %>
	<div class='row'>
	<% @posts.each do |post| %>
		<div class='col-md-4'>
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="thumbnail">
					<%= image_tag post.image.url(:medium), class: "post-image" %>
				</div>
				<br>
				<h4><%= post.description %></h4>
				<br>
				<%= link_to "Like", post_likes_path(post), class: 'likes-link' %>
				<span class="likes-count"> <%= post.likes.count %> </span> likes
				<hr>
				<% if post.comments.any? %>
					<%post.comments.each do |comment| %>
						<p><%= comment.comments %></p>
						<p class="post-info">(Posted <%= time_ago_in_words(comment.created_at) %> ago)</p>
					<% end %>
				<% end %>
			</div>
			<div class="panel-footer">
				<div class="btn-group btn-group-justified btn-group-sm" role="group" aria-label="...">
					<% if !current_user.nil? %>
						<%= link_to "Comment", new_post_comment_path(post), class: 'btn btn-default' %>
					<% end %>
					<% if !current_user.nil? && post.user_id == current_user.id%>
						<%= link_to "Delete post", post_path(post), class: 'btn btn-default', method: :delete %>
						<%= link_to "Edit post", edit_post_path(post), class: 'btn btn-default' %>
					<% end %>
				</div>	
			</div>
		</div>
		</div>
		<% end %>
<% else %>
	No images
<% end %>
</div>