<!DOCTYPE html>
<html>
<head>
  <title>InstagramClone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="page-header">
	<h1>Climbagram</h1>
		<% if user_signed_in? %>
			<%= link_to "Post an image", new_post_path, class: 'btn btn-warning' %>
			<%= link_to "Sign out", destroy_user_session_path, method: :delete, class: 'btn btn-default' %>
		<% else %>
			<%= link_to "Sign up", new_user_registration_path, class: 'btn btn-default' %>
			<%= link_to "Sign in", new_user_session_path, class: 'btn btn-default' %>
		<% end %>
</div>

<p class="alert"><%= flash[:alert] %></p>
<p class="notice"><%= flash[:notice] %></p>
<%= yield %>

</body>
</html>
