<!DOCTYPE html>
<html>
<head>
  <title>InstagramClone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/ui-darkness/jquery-ui.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
	<p class='navbar-text'>
		<%= link_to "Climbr", posts_path, class: "climbr-link" %>
	</p>
		<% if user_signed_in? %>
			<%= link_to_modal "Post an image", new_post_path, class: "btn btn-default navbar-btn" %>
			<%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-default navbar-btn navbar-right" %>
		<% else %>
			<%= link_to_modal "Sign up", new_user_registration_path, class: "btn btn-default navbar-btn navbar-right"%>
			<%= link_to_modal "Sign in", new_user_session_path, class: "btn btn-default navbar-btn navbar-right" %>
		<% end %>
</nav>

<p class="notice"><%= flash[:notice] %></p>
<%= yield %>

</body>
</html>
